version: 2.1

jobs:
  build:
    docker:
      - image: cimg/base:stable
    
    working_directory: ~/repo
    
    steps:
      - run: echo build step
  
  test:
    docker:
      - image: cimg/base:stable
    
    working_directory: ~/repo
    
    steps:
      - run: echo test step

  deploy:
    docker:
      - image: cimg/base:stable
    
    working_directory: ~/repo
    
    steps:
      - run: echo deploy step      

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  version: 2
  build-test:
    jobs:
      - build
      - test:
          requires: 
            - build  
      - deploy:
          requires: 
            - test  

