body {
    align-items: center;
    justify-content: center;
}


.aboutMe{
    margin: auto;
    width: 50vmin;
    height: 60vmin;
    color: rgb(196, 164, 164);
    margin-top: 5%;
    background-color:rgb(26, 37, 73);
    padding: 1%;
    border-radius: 5%;
}

#pone{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.7vh;
}




