html,body {
  align-items: center;
  justify-content: center;
  height:100%;
}

.my-links {
  position: relative;
  top:250px;
  margin:5%;
  font-size:9vw;
  color: white;
  background-color:rgb(26, 37, 73);
  padding: 3%;
  border-radius: 5%;
}






