.gallery {
   position: absolute;
   left:10%;
   top:20%;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 5% 10%;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 }

#bubbles, #bubblestwo{
   color: rgb(196, 164, 164);
   background-color:rgb(26, 37, 73);
   width: 22vmin;
   height: 22vmin;
   border-radius: 5%;
   list-style-type: none;
   padding:2%;

}

#bubblestwo{
   position: relative;
   left:60%;
   border-radius: 50%;
   text-align: center;
   
}

#textOne{
   font-size:1vw ; 
    text-align: center;
}

#textTwo{
   position: relative;
   top:30%;
   font-size:1.2vw ;
}


/********* SUPER EXTRA SMALL DEVICES ONLY ******/
@media (min-width: 0px) and (max-width: 700px){
   #textOne, #textTwo{
      font-size:1.6vw ; 
   }
}
   

 
 



