.navbar {
  background-color:rgb(26, 37, 73);
  color: rgb(196, 164, 164);

    display: flex;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    font-size: 180%;
    padding-bottom: .3%;
  }

  .imglogo {
    height: 3vh;
    background-image: url("./assets/ireland.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow:auto;
    }
  
  .navbar-logo {
    color: rgb(196, 164, 164);
    justify-self: start;
    margin-left: 1%;
    cursor: pointer;
    text-decoration: none;
    font-size: 160%;
  }
  
 .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 2%;
    width: 70%;
    justify-content: end;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    color: rgb(196, 164, 164);
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .nav-links:hover {
    background-color: #1888ff;
    border-radius: 5%;
    transition: .4s;
  }

 
  

/********** Extra small devices only **********/
@media (min-width: 480px) and (max-width: 767px) {
  .navbar {
    font-size: 100%;
      
    }
  
    
}

/********* SUPER EXTRA SMALL DEVICES ONLY ******/
@media (min-width: 360px) and (max-width: 479px){
  .navbar {
    font-size: 80%;
      
    }
} 

 